<% provide(:title, 'FormObject Input') %>

<div class="col-md-8 col-md-offset-2">

  <h1>
    <%= fa_icon 'edit', text: 'FromObject', right: false %>
    - Input -
  </h1>

  <hr>

  <%= form_with model: @feedback, url: form_object_output_path, local: true do |f| %>

      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :select, "Select", {class: "form-label"} %>
        </div>
        <div class="col-sm-10">
          <%= f.select :select,
                       options_for_select([
                                              ["選択肢１", "1"],
                                              ["選択肢２", "2"],
                                              ["選択肢３", "3"],
                                          ]),
                       {prompt: "選択してください。"},
                       {class: "form-control", autofocus: true} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :text_field, "TextBox", {class: "form-label"} %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :text_field, {value: 'デフォルト値', class: "form-control"} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :text_area, "TextArea", {class: "form-label"} %>
        </div>
        <div class="col-sm-10">
          <%= f.text_area :text_area, {value: 'デフォルト値', :rows => @rows, class: "form-control"} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :check_box, "CheckBox", {class: "form-label"} %>
        </div>
        <div class="col-sm-10">
          <%= f.check_box :check_box, {class: ''} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :radio_button, "RadioButton", {class: "form-label"} %>
        </div>
        <div class="col-sm-10">
          <%= f.radio_button :radio_button, 1, {checked: true} %> 1<br>
          <%= f.radio_button :radio_button, 2, {} %> 2
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
          <%= button_tag class: "btn btn-primary" do %>
            <%= fa_icon 'edit', text: 'Submit', right: false %>
          <% end %>
        </div>
      </div>

  <% end %>
</div>
