<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<% if request.path_info == root_path %>
    <%= yield %>
<% else %>
    <div class="container">
      <%= yield %>
    </div>
<% end %>
<div class="container">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>